.dnd-drawboard {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(40, 40, 40);
  overflow: hidden;
  font-size: calc(16px * var(--dnd-size-factor));

  input,
  select {
    font-size: 1em;
  }

  option {
    font-size: 16px;
  }

  &.dnd-grabbed {
    cursor: grabbing;
  }

  .dnd-panel {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
